<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body cart">
                    <div class="col-sm-12 text-center">
                        <img src="assets/empty-cart.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                        <h3 class="display-6">O seu carrinho está vazio</h3>
                        <a routerLink="/products" class="btn btn-primary m-3" data-abc="true">Continuar a
                            comprar</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>