<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs'); %>
</head>

<body>
    <main>
        <div class="row justify-content-center">
            <div class="col-lg-6 m-5">
                <div class="text-center mt-4">
                    <h1 class="display-1">500</h1>
                    <p class="lead">Erro de servidor interno</p>
                    <a onclick="goBack()">
                        <i class="fas fa-arrow-left me-1"></i>
                        Clique para retornar à página anterior
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>

<script>
    function goBack() {
        window.history.back()
    }
</script>

</html>