<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">


            <a class="weatherwidget-io" href="https://forecast7.com/pt/41d37n8d20/felgueiras/" data-label_1="FELGUEIRAS"
                data-label_2="WEATHER" data-theme="original">FELGUEIRAS WEATHER</a>
            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
            </script>


            <div class="col-xl-12 d-flex justify-content-center">
                <!--Dayspedia.com widget--><iframe width='600' height='295'
                    style='padding:0!important;margin:0!important;border:none!important;background:none!important;background:transparent!important'
                    marginheight='0' marginwidth='0' frameborder='0' scrolling='no' comment='/*defined*/'
                    src='https://dayspedia.com/if/digit/?v=1&iframe=eyJ3LTEyIjpmYWxzZSwidy0xMSI6ZmFsc2UsInctMTMiOnRydWUsInctMTQiOmZhbHNlLCJ3LTE1Ijp0cnVlLCJ3LTExMCI6ZmFsc2UsInctd2lkdGgtMCI6ZmFsc2UsInctd2lkdGgtMSI6ZmFsc2UsInctd2lkdGgtMiI6dHJ1ZSwidy0xNiI6IjQ4cHgiLCJ3LTE5IjoiOTYiLCJ3LTE3IjoiMjQiLCJ3LTIxIjp0cnVlLCJiZ2ltYWdlIjotMiwiYmdpbWFnZVNldCI6ZmFsc2UsInctMjFjMCI6IiNmZmZmZmYiLCJ3LTAiOnRydWUsInctMyI6ZmFsc2UsInctM2MwIjoiIzM0MzQzNCIsInctM2IwIjoiMSIsInctNiI6IiMzNDM0MzQiLCJ3LTIwIjp0cnVlLCJ3LTQiOiIjMDA3ZGJmIiwidy0xOCI6ZmFsc2UsInctd2lkdGgtMmMtMCI6IjYwMCIsInctMTE1IjpmYWxzZX0=&lang=pt&cityid=6568'></iframe>
                <!--Dayspedia.com widget ENDS-->
            </div>


            <!-- JavaScript Includes -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>

        </div>

    </div>
</main>