<!DOCTYPE html>
<html>

<head>
  <!-- Head -->
  <%- include('partials/head.ejs'); %>
</head>

<body>
  <div class="container pt-5">
    <div class="row text-center">
      <div class="col-sm">
        <img src="/images/maintenancePage.jpg" alt="Italian Trulli" width="500" height="350">
      </div>
    </div>
    <div class="row">
      <div class="row flex justify-content-around mt-5">
        <a class="btn btn-outline-primary col-md-3" href="/admin">BackOffice</a>
      </div>
    </div>
    <div class="row">
      <div class="row flex justify-content-around mt-3">
        <a class="btn btn-outline-primary col-md-3" href="http://localhost:4200/products">FrontOffice</a>
      </div>
    </div>
  </div>
</body>

</html>