<section class="vh-95">
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="assets/newsletter.jpg" class="img-fluid" alt="Sample image">
            </div>

            <div *ngIf="!this.unsubscribeForm" class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form [formGroup]="subscribeNewsletterForm" (ngSubmit)="subscribeNewsletter()">
                    <ng-container *ngIf="loading">
                        <mat-progress-bar mode="indeterminate" class="mb-4 mt-5"></mat-progress-bar>
                    </ng-container>

                    <h6 class="display-6 text-center mt-2 mb-4">Subscreve aqui a nossa newsletter para ficares
                        sempre a
                        par das nossas novidades!</h6>

                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example3" class="form-control form-control-lg"
                            formControlName="name" />
                        <label class="form-label" for="form3Example3"><strong>Nome</strong></label>
                    </div>

                    <div class="form-outline mb-3">
                        <input type="email" id="form3Example4" class="form-control form-control-lg"
                            formControlName="email" />
                        <label class="form-label" for="form3Example4"><strong>Endereço de email</strong></label>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg col-md-12">
                            Subscrever
                        </button>
                    </div>

                </form>
                <h6 class="fw-bold mt-2 pt-1 mb-0">Pertendes cancelar a subscrição? <a (click)="unsubscribe()"
                        class="link-danger">Carrega aqui</a></h6>
            </div>

            <div *ngIf="this.unsubscribeForm" class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form [formGroup]="unsubscribeNewsletterForm" (ngSubmit)="unsubscribeNewsletter()">
                    <ng-container *ngIf="loading">
                        <mat-progress-bar mode="indeterminate" class="mb-4 mt-5"></mat-progress-bar>
                    </ng-container>

                    <h6 class="display-6 text-center mt-2 mb-4">Cancela aqui a tua subscrição da nossa newslleter</h6>

                    <div class="form-outline mb-3">
                        <input type="email" id="form3Example4" class="form-control form-control-lg"
                            formControlName="email" />
                        <label class="form-label" for="form3Example4"><strong>Endereço de email</strong></label>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg col-md-12">
                            Cancelar subscrição
                        </button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</section>