ul {
  list-style-type: none;
}
.custom-search {
  position: relative;
  width: 350px;
}
.custom-search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 100px 10px 20px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}
.custom-search-button {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border: 0;
  background: #0d6efd;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
}

.discountDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: start;
}

@media (max-width: 992px) {
  .lineDiscount {
    background-color: #0d6efd;
    visibility: visible;
  }
  .addressInfo,
  .couponsDiv {
    margin-top: 30px;
  }
}

.lineDiscount {
  visibility: hidden;
}

.addressInputs {
    display: flex;
    flex-wrap: wrap;
}
