<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body cart">
                    <div class="col-sm-12 text-center">
                        <img src="assets/error.jpg" width="60%" height="30%">
                        <h3 class="display-6 mt-5">Ocorreu um erro!</h3>
                        <h3 class="mt-3 text-muted">Não conseguimos processar a tua compra! Por favor tenta novamente mais tarde, ou entra em contacto connosco.</h3>
                        <a routerLink="products" class="btn btn-primary m-3" data-abc="true">Ir para página
                            inicial</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>